 .ProjectTitle{
    text-align: center;
    margin: 10px  0 !important;
 }

    .Tabs{
        text-align: center !important;
        max-width: fit-content;
        text-align: center;
        display: flex;
    }
 

