$primary-color: #0F172A;
$secondary-color:#64748B;


.base_flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.base_Link{
  text-decoration: none !important ; 
  font-weight: bold !important;
}

 .Container {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  @extend .base_flex;
}

.button-container{
  gap: 20px;
  @extend .base_flex
}
.container_Or_with{ 
  width: 100%;
  margin: 15px 0;
  color: $secondary-color;
  @extend .base_flex
}


.terms-and-conditions{
 margin: 15px 0;

}


.terms-and-conditions-text{
  color:$secondary-color !important;
}
.terms-and-conditions-text_Links{
  @extend .base_Link;
  color:$primary-color !important;
}

.Container_FormControl{
  display: flex;
  flex-direction: column;
}
