$primary-color: #0F172A;
$secondary-color:#64748B;


.baseFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.baseLink{
  text-decoration: none !important ; 
  font-weight: bold !important;
}

 .Container {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  @extend .baseFlex;
.form{
  max-width: 40%;
  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 100%;
  }
   @media (max-width: 767px){
    max-width: 100%;
  }

  .buttonProviderContainer{
    gap: 20px;
    @extend .baseFlex;
  }
  .container_Or_with{ 
    width: 100%;
    margin: 15px 0;
    color: $secondary-color;
    @extend .baseFlex
  }
  
  .Container_FormControl{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    
  .caption{
    color: $secondary-color;
  
  }

  .Divider{
    flex: 1;
  }
    
 }

}


