$text-color: #64748B;
$hover-color-Icon:#de0a0a;
$hover-Bgcolor-ListItem:#f1f1f1;
$hover-text-color-ListItem:#2d8fff;

.ListItem{
cursor: pointer;
width: 100%;
padding: 0 30px;
border-radius: 5px;
display: flex;
justify-content: space-between;
align-items: center;
 text-transform:capitalize;
 color: $text-color;
font-size: 3rem;
&:hover {
    background-color: $hover-Bgcolor-ListItem; 
    color:$hover-text-color-ListItem ;
  }
.DeleteIcon{
  font-size: 1.5rem;
    &:hover {
        color: $hover-color-Icon; 
      }
}

}